[Unit]
Description=bonescript web API
After=network.target
 
[Service]
ExecStart=/usr/lib/systemd/scripts/boneserver
Restart=on-failure

[Install]
WantedBy=multi-user.target
