<script type="text/html">

<!-- {{pin}} -->
<div class="col-md-12 tile" title="{{pin}}" id="{{pin}}Tile">
	<h5 align="left">{{pin}}</h5>
	<p>
		<div class="flotContainer">
			<div title="{{pin}}" id="{{pin}}FlotPlaceholder" class="flotPlaceholder">
			</div>
		</div>
	</p>
	<p>
		<table width="100%">
			<tr>
				<td align="left">
					<button class="btn btn-default" title="{{pin}}" id="{{pin}}Download">Download</button>
					<button class="btn btn-default" title="{{pin}}" id="{{pin}}Delete">Delete</button>
				</td>
				<td align="right">
					<button class="btn btn-default" title="{{pin}}" id="{{pin}}Start">Start</button>
					<button class="btn btn-default" title="{{pin}}" id="{{pin}}Stop">Stop</button>
				</td>
			</tr>
		</table>
	</p>
</div>
<!-- /{{pin}} -->

</script>